/* NAVIGATION */

.dark-bg .nav-link {
  color: #fff;
}

.navbar-custom .nav-link:hover {
  color: #495057;
}

/* CreatePlant Component Form */
.create-plant-container {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  background-color: #f8f9fa;
  border-radius: 12px;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.1);
}

.create-plant-title {
  font-size: 1.75rem;
  color: #343a40;
  margin-bottom: 20px;
  text-align: center;
}

.create-plant-form-label {
  font-weight: 600;
  color: #495057;
}

.create-plant-form-control {
  border: 1px solid #ced4da;
  border-radius: 8px;
  padding: 10px;
  font-size: 1rem;
}

.create-plant-form-control:focus {
  border-color: #80bdff;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.create-plant-form-select {
  border: 1px solid #ced4da;
  border-radius: 8px;
  font-size: 1rem;
  padding: 10px;
}

.create-plant-form-select:focus {
  border-color: #80bdff;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.create-plant-btn {
  background-color: #007bff;
  border-color: #007bff;
  border-radius: 20px;
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: 600;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  display: block;
  margin: 20px auto 0;
}

.create-plant-btn:hover {
  background-color: #0056b3;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


/* Card Style */

.card {
  background-color: #fff;
  border-radius: 10px;
  border: none;
  position: relative;
  margin-bottom: 30px;
  box-shadow: 0 0.46875rem 2.1875rem rgba(90,97,105,0.1), 0 0.9375rem 1.40625rem rgba(90,97,105,0.1), 0 0.25rem 0.53125rem rgba(90,97,105,0.12), 0 0.125rem 0.1875rem rgba(90,97,105,0.1);
}

.l-bg-blue-dark {
  background: linear-gradient(to right, #373b44, #4286f4) !important;
  color: #fff;
}

.card .card-statistic-3 .card-icon {
  text-align: center;
  line-height: 50px;
  margin-left: 15px;
  color: #000;
  position: absolute;
  right: -5px;
  top: 20px;
  opacity: 0.1;
}

.card .card-statistic-3 .card-icon-large .fas, .card .card-statistic-3 .card-icon-large .far, .card .card-statistic-3 .card-icon-large .fab, .card .card-statistic-3 .card-icon-large .fal {
  font-size: 110px;
}

.card .card-icon-large i {
  font-size: 110px;
}

/* Search bar */
.search-bar-container {
  max-width: 800px;
  margin: 0 auto 20px auto;
}

.search-bar {
  border-radius: 50px;
  padding: 12px 24px;
  font-size: 1.1rem;
  transition: border-color 0.3s ease, box-shadow 0.3s ease, transform 0.2s ease;
  width: 100vh;
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.search-bar:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 4px 8px rgba(0, 123, 255, 0.2);
  transform: scale(1.02);
}

.search-bar::placeholder {
  color: #888;
  font-style: italic;
}

/*  Home section  */

.image-home {
  background-image: url('../public/img/hydropower2.png');
  width: 100%;
  height: 55vh;
  background-size: cover;
  background-position: center;
}

.dark-bg {
  background-color: #04019F;
  color: #fff;
}

.white-text{
  color: #fff;
}

/* Button Home Edit */
.btn-home-dark-blue {
  background: linear-gradient(135deg, #0056b3, #007bff);
  color: white;
  font-size: 1.1rem;
  padding: 12px 24px;
  border: none;
  border-radius: 30px;
  box-shadow: 0 4px 12px rgba(0, 123, 255, 0.2);
  transition: all 0.3s ease;
  cursor: pointer;
  text-align: center;
  display: inline-block;
}

.btn-home-dark-blue:hover {
  background: linear-gradient(135deg, #0056b3, #0274ee);
  box-shadow: 0 6px 18px rgba(0, 123, 255, 0.3);
  transform: translateY(-3px);
}

.btn-home-dark-blue:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.5);
}

.btn-home-dark-blue:active {
  background: linear-gradient(135deg, #004085, #0077b3);
  box-shadow: 0 2px 8px rgba(0, 123, 255, 0.15);
  transform: translateY(2px);
}

.section-bg-color{
  background-color: #050089;
}



/* Custom Modern Button Styles (Smaller Version) */
.custom-btn {
  font-weight: 600;
  border-radius: 30px;
  text-transform: uppercase;
  padding: 8px 20px;
  transition: all 0.3s ease-in-out;
  border: 2px solid transparent;
}

/* 'See More' button style */
.custom-btn-see-more {
  background: linear-gradient(135deg, #0056b3, #007bff);
  color: white;
  border: 2px solid #17a2b8;
}

.custom-btn-see-more:hover {
  background: linear-gradient(135deg,#004085, #0077b3); 
  color: #fff;
  box-shadow: 0 4px 8px rgba(0, 140, 158, 0.2);
  transform: scale(1.02);
}

/* 'Delete' button style */
.custom-btn-delete {
  background: linear-gradient(135deg, #dc3545, #FF5A5F);
  color: white;
  border: 2px solid #dc3545;
}

.custom-btn-delete:hover {
  background: linear-gradient(135deg, #FF5A5F, #dc3545);
  color: #fff;
  box-shadow: 0 4px 8px rgba(220, 53, 69, 0.2);
  transform: scale(1.02);
}

/*  Detail page  */

.equal-height-card {
  display: flex;
  flex-direction: column;
  height: 95%;
  justify-content: space-between;
}

.card-detail-information{
  min-height: "350px";
  background-color: #06127E;
  color: #fff;
}

@keyframes zoomInOut {
  0% {
    background-size: 100%;
  }
  50% {
    background-size: 110%;
  }
  100% {
    background-size: 100%;
  }
}

.technical-detail-card {
  width: 80%; 
  height: 35vh;
  background-image: url('../public/img/water-energy.png');
  background-size: contain; 
  background-repeat: no-repeat;
  background-position: center;
  animation: zoomInOut 4s ease-in-out infinite;
  margin: 0 auto; 
}

@keyframes zoomInOut {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}


@keyframes rotateCircle1 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotateCircle2 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotateCircle3 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.circle1 {
  animation: rotateCircle1 15s linear infinite;
  transform-origin: center;
}

.circle2 {
  animation: rotateCircle2 20s linear infinite;
  transform-origin: center;
}

.circle3 {
  animation: rotateCircle3 25s linear infinite;
  transform-origin: center;
}

.circle4 {
  animation: rotateCircle2 30s linear infinite;
  transform-origin: center;
}

.circle5 {
  animation: rotateCircle3 35s linear infinite;
  transform-origin: center;
}

.last-year-update{
  font-family: sans-serif;
  font-size: 22px;
  text-align: center;
  margin-top: 16px;
}

.pulse-animation{
  transform: "translateX(30px)"
}

.btn-detail-update {
  background-color: #00BCD4;
  color: white;
  padding: 10px 20px;
  border-radius: 50px; /* Rounded corners */
  font-size: 16px;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
}

.btn-detail-update:hover {
  background-color: #06a2b7;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.btn-detail-update:focus {
  box-shadow: none;
}

.btn-detail-update:active {
  background-color: #004085;
  border-color: #004085;
}

.btn-detail-update:disabled {
  background-color: #cccccc;
  border-color: #cccccc;
  cursor: not-allowed;
}
